body{
    margin: 0%;
    
}

.navbar{
    background-color: #4A4A4A;
    color: #fff;
    height: 40px;
    position: relative;
    padding-top: 15px;
    padding-left: 10px;
}
.navbar__link{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;    
}
.navbar__list{
    list-style: none; 
}

.btn{
background-color: #4A90E2;
color: white;
height: 60px;
border-radius: 8px;
border: 0px;
padding: 10px 5px;
}
.btn--buscar{
    background-color: #ffe55d;  
    color: #4a4a4a;
}
.btn--info{
    background-color: #7ED321;
    text-decoration: none;
}

.dropdown{
    display: inline;
}
.dropdown__btn{
    background-color: transparent;
    border: 0px;
}
.dropdown__menu{
    display: none;
}

.infolink{
    background-color: #EFEFEF;    
    padding: 20px 20px;  
    padding-right: 30%;   
}

.navform{
    position:absolute;
    right: 0%;
    top: 0%;
}
.navform__label{
    display: inline-block;
}
.sugerencias__menu{
    display: none;
}
.sugerencias{
    display: inline-block;   
}
.cursos{
    display: inline-block;
    width: 100%;
    padding-left: 80px;
}

.cursos__article{
   padding-bottom: 80px;
   width: 30%; 
   display: inline-block;
 
}
.cursos__link{
    text-decoration: none;
    color: #4a90e2;
    font-weight: 100;
}
.cursos__media{
    background-color: grey;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 10px;
    display: inline-block;
    float: left;

}
.convocatorias{
    background-color: #E8F6FC;
  
}
.convocatorias__media{
    display: inline-block;
    padding: 30px;
    padding-left: 10rem;


}
.convocatorias__info{
width: 20%;
display: inline-block;
padding-right: 5%;

}

.infolink--servicios{
    background-color: #fff;
    padding-left: 10px;
    text-align: center;
}
.infolink__texto{   
    width: 40%;
    margin: 20px 500px;
 
}

.btn--lorem{
    text-decoration: none;
}

.footer{
    width: 90%;
    
    margin-left: 50px;
    position: relative;
    margin-top: 50px;
    border-top: 1px solid grey;
}

.footer__list{
    list-style: none; 
    display: inline-block;
    
}

.footer__element-list{
    display: inline-block;
}


.footer__copyright{
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 5%;
    top: 45%;
}
.footer__element-link{
    text-decoration: none;
    color:#4a90e2; 
    font-weight: 100;
    padding-right: 10px;
}