*{
    box-sizing: border-box;
 
}
body{
    margin: 0;  
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 0;
    padding: 10px;
    margin: 5px;
    border-radius: 4px; 
    font-family: 'Courier New', Courier, monospace;
}
.main{
    padding: 0 30px;
}
.btn--success{
background-color:#7ed321;
}
.search__label{
    color: #cccccc;
    font-size: 16px;
    
}
.search__btn{
    background-color: #ffe55d;
    color: #4a4a4a;
    font-weight: bold;
}
.container{
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;  
}

.site-header{
padding: 0 15px;
    display: flex;
    justify-content: space-between;
    background-color: #4a4a4a;
    height: 70px;
    align-items: center;
}
.dropdown{
    display: inline-block;
}
.dropdown__btn{
    color: white;
    background-color: transparent;  
    border:0;
    font-family: inherit;
    font-weight: normal;
    font-size: inherit;
}
.list-inline__link{
    font-family: inherit;
    font-weight: bolder;
    font-size: 16px;   
}
.navbar__item{
text-decoration: none;
color: white;
padding: 0 5px;
}
.search{
    display: flex;
    justify-content: space-around;
}
.search>*{
    padding: 10px;
}
.jumbotron__heading{
    margin-top: 0;
    padding-top: 10px;
    text-align: left;
}
.dropdown__menu , .dropdown_menu{
    display: none;
}
.jumbotron{
    text-align: left;
    padding: 10px 15px;
}
.jumbotron__body{
    text-align: left;
    padding: 10px 2px;
}
.jumbotron__btn {
    font-weight: bolder;
    background-color: #7ed321;
}
.newsletter__btn{
    display: block;
    background-color: #4a90e2;
}
.infolink__body{
    text-align: center;
  
}
.media{
    display: flex;  
    justify-content: space-between; 
}
.media__item{
    padding-right: 50px;

}
.media__link{
    display: inline-block;
    text-decoration: none;
    padding-bottom: 15px;
    color:#4a90e2;
}
.media__media{
height: 93px;
width:93px;
float: left;
padding-right: 15px;
}
.media__body {    
    display: inline; 
    padding-top: 15px;  
}
.subscription{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.subscription__container{ 
   padding-right: 15px;   
}
.convocatorias{
    width: 300px;
}
.container-jumbotron{
    background-color: #efefef;    
}
.site-footer{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #e5e5e5;
}
.list-inline{
    display: inline;
}
.list-inline>li{
    list-style:none; 
    display: inline;
}
.list-inline__link{
    color:#4a90e2;
    text-decoration: none;
    padding-right:38px;
}
